/* Styles for wrapping the search box */
a:link {
    color: #01B2AC;
}

.nav-item {
  border-right: 1px solid silver;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-item:last-child {
  border: none;
}

.navbar {
  border-bottom: 1px ridge silver;
}

.carousel-item{
    height: 400px;
}
.carousel-item img{
    height: 400px;
}

#lower-img{
  height: 150px;
  width: 100%;
}

.top-buffer { margin-top:35px; }

.btn-info {
    margin-bottom: 10px;
    background-color: #01B2AC;
    border-color: #01B2AC;
}

.footer{
  border-top: 1px solid grey;
  margin-top: 10px;
}

/*Um die Verfügbare Speisen (Bestseller) 30px unter Navbar zuziehen*/
#avaiableS{
  top: 30px;
  margin-bottom: 30px;
}

fieldset {
  border: 1px groove black !important;
  padding: 0 15px 15px 15px !important;
}

input{
  padding-top: : 10px;
}
