/* Styles for wrapping the search box */
a:link {
    color: #01B2AC;
}

.nav-item {
  border-right: 1px solid silver;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-item:last-child {
  border: none;
}

.navbar {
  border-bottom: 1px ridge silver;
}

.carousel-item{
    height: 400px;
}
.carousel-item img{
    height: 400px;
}

#lower-img{
  height: 150px;
  width: 100%;
}

.top-buffer { margin-top:35px; }

.btn-info {
    margin-bottom: 6%;
    box-shadow: 3px 3px 5px grey;
    background-color: #00b5ad;
    border-color: #00b5ad;
}

.footer{
  border-top: 1px solid grey;
  margin-top: 10px;
}
